/* About.css */
#about-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(32, 31, 31, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-transform: none;
}

#about-content h1,
#about-content h2 {
    color: #DAA520;
}

#about-content p {
    margin-bottom: 15px;
}

#about-content ul {
    list-style-type: none;
    padding: 0;
}

#about-content ul li {
    margin-bottom: 8px;
}