body {
    background-image: url(gym_BG.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #DAA520;
    padding: 10px;
    text-align: right;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #fff;
}

footer {
    color: aliceblue;
    text-align: center;
    font-size: 10px;
    opacity: 0.5;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(32, 31, 31, 0.8);
    position: fixed;
    bottom: 0;
    /* border: 1px solid pink; */
}

.gold-text {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #DAA520;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}