/* Home.css */
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

nav {
    background-color: #222;
    padding: 10px;
    text-align: right;
}

nav a {
    color: #DAA520;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

#InfoDIV {
    width: 100%;
    height: auto;
    border: 1px #DAA520 solid;
    text-align: center;
    padding: 20px;
}

/* aMember and notAMember divs */
.memberDiv {
    width: 100%;
    border: 1px #DAA520 solid;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memberDiv span {
    color: #FFD700;
}

.memberImageContainer {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

.memberImage {
    width: 100%;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}

.memberButton {
    margin-top: 10px;
}

/* memberStories div */
#memberQuote,
#memberName {
    margin-bottom: 10px;
}

#memberQuote {
    color: #DAA520;
    font-style: italic;
}

#memberName {
    color: #fff;
    font-weight: bold;
}