body {
    background-image: url(gym_BG.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #DAA520;
    padding: 10px;
    text-align: right;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #fff;
}

footer {
    color: aliceblue;
    text-align: center;
    font-size: 10px;
    opacity: 0.5;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(32, 31, 31, 0.8);
    position: fixed;
    bottom: 0;
    /* border: 1px solid pink; */
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
    color: #DAA520;
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #DAA520;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.form-container button {
    background-color: #DAA520;
    color: #000;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.1s;
}

.form-container button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}

.form-container button:focus {
    outline: none;
}

.gold-text {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #DAA520;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}