* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(gym_BG.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

nav {
    background-color: #DAA520;
    padding: 10px;
    text-align: right;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #fff;
}

footer {
    color: aliceblue;
    text-align: center;
    font-size: 10px;
    opacity: 0.5;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(32, 31, 31, 0.8);
    position: fixed;
    bottom: 0;
    /* border: 1px solid pink; */
}

#specialOffersDIV {
    width: 100%;
    height: 300px;
    border: 3px #DAA520 solid;

    background-image: url(specialOffer_BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#exclusiveDiscountsDIV {
    border: 2px solid #DAA520;
    padding: 20px;
    margin: 20px 0;
    background-image: url(exclusiveDiscount_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    position: absolute;
}

.search-form {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.custom-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.1s;
}

.custom-button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}

.custom-button:focus {
    outline: none;
}

.gold-text {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #DAA520;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* -----------------------------RANK DIV etc.----------------------------- */

#ranks-Container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 55vh;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.rank_DIV {
    text-align: center;
    box-shadow: inset 10px 0 15px -5px rgba(255, 255, 255, 0.2),
        inset -10px 0 15px -5px rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 200px;
    margin: 0 10px;
    padding: 20px;
}

.rank_DIV:hover {
    transform: scale(1.05);
}

.rank_DIV:active {
    transform: scale(0.95);
}

.rank_DIV img {
    max-width: 100%;
    height: auto;
}

.rank_DIV p {
    margin: 8px 0 0;
    font-weight: bold;
    color: rgb(182, 180, 180);
}

.rank_DIV:hover p {
    transform: scale(1.2);
    color: white;
}

.rank_DIV:active p {
    transform: scale(0.8);
    color: #e0e0e0;
}

#iron-rank_DIV {
    margin-bottom: 0px;
}

#bronze-rank_DIV {
    margin-bottom: 50px;
}

#silver-rank_DIV {
    margin-bottom: 100px;
}

#gold-rank_DIV {
    margin-bottom: 150px;
}

/* -----------------------------Benefits Section----------------------------- */

#benefits-section {
    background-color: #000;
    color: #DAA520;
    padding: 20px;
    text-align: center;
    margin: auto;
    max-width: 800px; /* Adjust the max-width based on your preference */
}

.benefit-rank {
    background-color: #222;
    color: #fff;
    border: 2px solid #DAA520;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
}

.benefit-rank h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.benefit-rank p {
    font-size: 16px;
    margin-bottom: 15px;
}

.benefit-rank ul {
    list-style-type: none;
    padding: 0;
}

.benefit-rank li {
    font-size: 14px;
    margin-bottom: 5px;
}

.benefit-rank img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.benefit-rank video {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

/* Additional styling for responsiveness */
@media (max-width: 600px) {
    .benefit-rank {
        padding: 15px;
    }

    .benefit-rank h3 {
        font-size: 20px;
    }

    .benefit-rank p,
    .benefit-rank li {
        font-size: 14px;
    }
}